<div class="container-fluid pl-2" style="background-color: #EEEEEE ;">
    <div class="pt-4 pb-0 px-4">
        <h1 class="pt-5 pb-4 px-1 h1" style="font-weight: 900; font-size:xxx-large; text-align: center;">Fueling Innovation
            through Collaborative Bioinformatics</h1>
    </div>
    <div style="margin-left: 32%; margin-right: 6%; text-align: left;" class="pb-3 pt-3">
        <p class="pb-3 pr-4">We are eager to
            collaborate with researchers, institutions, and organizations dedicated to advancing science. Together, we can
            drive breakthroughs, uncover transformative discoveries, and make a lasting impact in the life sciences.
        </p>
        <div class="pb-5 pt-2">
            <a (click)="openDialog()" class="btn btn-light" style="border: 2px solid black; border-radius: 20px; background-color: #EEEEEE;">Get in touch</a>
        </div>
    </div>
</div>
<footer class="footer p-5">
    <div class="container-fluid px-2">
        <div class="row">
            <div class="col-md-4 text-center text-md-left">
                <div class="footer-logo mb-3" style="color: #d8e0e0;">Logo</div>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-github"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
                <div class="footer-links mt-3">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Cookies Settings</a>
                </div>
            </div>

            <div class="col-md-4 text-center text-md-left">
                <h5 style="color: #d8e0e0;">Company</h5>
                <div class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">About us</a>
                    <a href="#">Resources</a>
                </div>
            </div>

            <div class="col-md-4 text-center text-md-left">
                <h5 style="color: #d8e0e0;">Services</h5>
                <div class="footer-links">
                    <a href="http://localhost:4200/services/bioInfo">Bioinformatics Analytics</a>
                    <a href="http://localhost:4200/services/bioEng">Bioinformatics Engineering</a>
                    <a href="http://localhost:4200/services/statisticalTesting">Statistical Testing and Data Interpretation</a>
                    <a href="http://localhost:4200/services/seqTech">Sequencing Technology Expertise</a>
                    <a href="http://localhost:4200/services/bioInfoTraining">Bioinformatics Training</a>
                </div>
            </div>
        </div>

        <div class="footer-bottom mt-4">
            © 2024 D2D. All rights reserved.
        </div>
    </div>
</footer>