<footer class="footer foot-pad">
    <div class="row m-0">
        <div class="col-md-5 col-12 mt-5">
            <a href="/d2dWebsite-1.0.0/home?page=home"><img src="assets/images/Logo-White.svg" alt="Logo" class="mb-4" width="84px" height="36px"></a>
            <div class="d-flex justify-content-between w-50 mb-4">
                <a href="https://www.facebook.com" class="pr-8"><i><img src="assets/icons/Facebook.svg" alt=""></i></a>
                <a href="https://www.instagram.com" class="pr-8"><i><img src="assets/icons/Instagram.svg" alt=""></i></a>
                <a href="https://github.com/DNA2discovery-D2D" class="pr-8"><i><img src="assets/icons/github.svg" alt=""></i></a>
                <a href="https://www.twitter.com" class="pr-8"><i><img src="assets/icons/X.svg" alt=""></i></a>
                <a href="https://www.linkedin.com/company/dna2discovery/" class="pr-8"><i><img src="assets/icons/LinkedIn.svg" alt=""></i></a>
                <a href="https://www.youtube.com" class="pr-8"><i><img src="assets/icons/Youtube.svg" alt=""></i></a>
            </div>
            <div class="flex-column d-flex">
                <a href="" class="fit-content color-grey no-underline fsr-12 my-2 link-underline">Privacy Policy</a>
                <a href="" class="fit-content color-grey no-underline fsr-12 my-2 link-underline">Terms of Service</a>
                <a href="" class="fit-content color-grey no-underline fsr-12 my-2 link-underline">Cookies Settings</a>
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h4 class="text-white mt-43 fsr-21">Company</h4>
                    <div class="d-flex flex-column">
                        <a href="/d2dWebsite-1.0.0/home?page=home" class="fit-content color-lightwhite no-underline my-2 fsr-16 link-underline">Home</a>
                        <a href="/d2dWebsite-1.0.0/aboutus?page=aboutus" class="fit-content color-lightwhite no-underline my-2 fsr-16 link-underline">About Us</a>
                        <a href="/d2dWebsite-1.0.0/resources?pages=resources" class="fit-content color-lightwhite no-underline my-2 fsr-16 link-underline">Resources</a>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <h4 class="text-white mt-43 fsr-21">Services</h4>
                    <div class="d-flex flex-column">
                        <a href="/d2dWebsite-1.0.0/services?service=bioInfo&page=service" class="fit-content color-lightwhite my-2 fsr-16 no-underline link-underline">Bioinformatics Analytics</a>
                        <a href="/d2dWebsite-1.0.0/services?service=bioEng&page=service" class="fit-content color-lightwhite my-2 fsr-16 no-underline link-underline">Bioinformatics Engineering</a>
                        <a href="/d2dWebsite-1.0.0/services?service=statisticalTesting&page=service" class="fit-content color-lightwhite my-2 fsr-16 no-underline link-underline">Statistical Testing and Data Interpretation</a>
                        <a href="/d2dWebsite-1.0.0/services?service=seqTech&page=service" class="fit-content color-lightwhite my-2 fsr-16 no-underline link-underline">Sequencing Technology Expertise</a>
                        <a href="/d2dWebsite-1.0.0/services?service=bioInfoTraining&page=service" class="fit-content color-lightwhite my-2 fsr-16 no-underline link-underline">Bioinformatics Training</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <p class="text-center m-0 color-lightgrey fsr-16 mt80">© 2025 D2D. All rights reserved.</p>
</footer>