.footer{
    background-color: #012323;
    margin-bottom: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0;
    bottom: 0;
}

.foot-pad{
    padding: calc(5.55vw + 0.08px) calc(3.33vw + 0.048px) !important;
}

.mt80{
    margin-top: 80px !important;
}

.no-underline{
    text-decoration:none;
}

.link-underline{
        text-decoration: none; 
}

.link-underline:hover{
    text-decoration: underline;
    text-decoration-color: whitesmoke!important;
}

.mt-43{
    margin-top: calc(2.91vw + 0.096px);
    margin-bottom: calc(1.11vw + 0.016px);
}

.p-64{
    padding-top: calc(2.91vw + 0.096px);
    padding-bottom: calc(5.55vw + 0.08px);
}

@media only screen and (max-width: 767px) {
    .pr-8{
        padding-right: calc(1.94vw + 0.0072px) !important;
    }
    .mt-43{
        margin-top: calc(10.43vw + 0.0284px);
        margin-bottom: calc(3.88vw + 0.0144px);
    }
    .fsr-16{
        font-size: calc(2.91vw + 0.0108px) !important;
        font-weight: 400;
    }
    .color-lightwhite{
        color:#BFC0C0 !important;
    }
    .p-64{
        padding-top: calc(10.19vw + 0.0172px);
        padding-bottom: calc(15.53vw + 0.0164px);
    }
    .foot-pad{
        padding: calc(15.53vw + 0.0164px) calc(3.88vw + 0.0144px) !important;
    }
    .mt80{
        margin-top: 80px !important;
    }
    
}