
p {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin: 0px;
  line-height: 29px;
  color: #747B80;
}

.service-img{
  aspect-ratio: 427 / 320;
  width: 100%;
}

.pr0{
  padding-right: 0px;
}

h4{
  font-family: 'NimbusSanL';
  color: #121314;
  font-style: normal;
  margin: 0px;
font-weight: 400;
font-size: 28px;
line-height: 39px;
}

.img-container{
  width: calc(29.65vw + 0.04px)
}

.pr32{
  margin-right: calc(2.22vw + 0.032px) !important;
}

.pb48{
  padding-bottom: calc(3.33vw + 0.048px) !important;
}

.img32{
  height: 32px;
  width: 32px;
}

.pb24{
  padding-bottom: calc(1.66vw + 0.096px) !important;
}

.pb8{
  padding-bottom: calc(0.55vw + 0.08px) !important;
}

@media only screen and (max-width: 767px) {
  .pr32{
    margin-right: 0px !important;
  }

  .img-container{
    width: calc(100vw - 2 * (3.88vw + 0.0144px)) !important;
  }

  h4{
    font-size: 21px;
    line-height: 29.4px;
  }

  p{
    font-size: 16px;
    line-height: 22.4px;
  }
  .pb0{
    padding-bottom: 0px !important;
  }

  .pb48{
    padding-bottom: calc(7.76vw + 0.0288px) !important;
  }

  .img32{
    height: 24px;
    width: 24px;
  }

  .service-img{
    aspect-ratio: 380 / 240;
    width: 100% 
  }


  
  
}
