
p {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #747B80;
}

h4{
  font-family: 'NimbusSanL';
  color: #121314;
  font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 39px;

}