<div class="container-fluid section1">
    <h2 class="pb-48">{{serviceData?.topic}}</h2>
    <div *ngFor="let desc of serviceData?.desc1; let i = index">
    <p align="left" style="text-align: left;" class="per32" 
           [ngStyle]="{'padding-bottom': i !== (serviceData?.desc1.length - 1) ? '16px' : '0px'}">
          {{ desc }}
        </p>
      </div>
    <div style="padding-bottom: 8px;" class="pt-80">
        <img [src]="serviceData?.image" alt="image" class="pic">
    </div>
</div>

<div class="container-fluid section2" *ngIf="serviceName==='bioInfo'">
    <h2 class="pb-80">Solutions Offered</h2>
    <div class="soln">
        <div class="width-50" id="first">
            <h5 style="padding-bottom: 8px;margin: 0px;">{{ serviceData.solutionsOffered[0]?.topic | uppercase }}</h5>
            <div *ngFor="let des of serviceData?.solutionsOffered[0].description">
                <p class="des">{{ des }}</p>
            </div>
        </div>

        <div class="width-50 ml-32">
            <div *ngFor="let sol of serviceData?.solutionsOffered.slice(1)"
                [ngClass]="{'padding-default': sol?.topic !== 'TRANSCRIPTOMICS', 'padding-none': sol?.topic === 'TRANSCRIPTOMICS'}">
                <h5 style="padding-bottom: 8px; margin: 0px;">{{ sol?.topic | uppercase }}</h5>
                <div *ngFor="let des of sol?.description">
                    <p class="des" >{{ des }}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container-fluid section2" *ngIf="serviceName!=='bioInfo'">
    <h2 class="pb-80">Solutions Offered</h2>
    <div class="row">
        <div class="col-12 col-md-6 col-sm-12 padding-default" *ngFor="let sol of serviceData?.solutionsOffered; let i = index">
            <h5 style="padding-bottom: 8px;margin: 0px">{{sol?.topic | uppercase}}</h5>
            <div *ngFor="let des of sol.description">
                <p class="des">{{des}}</p>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #FFFFFF;" class="pt-80 menu">
    <h2 class="pb-80">Other Services</h2>
    <app-service-menu [currentService]="serviceName" bgColor="background-color:white;"></app-service-menu>
</div>