.nav-item {
    font-weight: bold;
    color: black;
}

.section1,
.section4 {
    padding: calc(5.55vw + 0.08px) calc(3.33vw + 0.048px);
    background-color: #FFFFFF !important;
}

.section2,
.section3 {
    padding: calc(5.55vw + 0.08px) calc(3.33vw + 0.048px);
    background-color: #FBFBFB !important;
}

h2 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #121314;
}

p {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #121314;
    margin: 0;
}

h5 {
    font-family: 'NimbusSanL';
    color: #121314;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
}

.des {
    font-family: 'NimbusSanL';
    color: #747B80;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
}

.per32 {
    margin-left: 31.875vw;
}

.pb-48 {
    padding-bottom: calc(3.33vw + 0.048px);
}

.pt-80 {
    padding-top: calc(5.55vw + 0.08px);
}

.mr-0 {
    margin-right: 0px;
}

.pic {
    aspect-ratio: 885/520;
    width: calc(61.45vw + 0.12px);
}

.pb-80 {
    padding-bottom: calc(5.55vw + 0.08px);
    margin: 0px;
}

.ml-32 {
    margin-left: calc(2.22vw + 0.032px);
}

.mr-32 {
    margin-right: calc(2.22vw + 0.032px);
}

.width-50 {
    width: 100% !important;
}

.soln {
    display: flex;
    width: 100%;
}

.padding-none {
    padding-bottom: 0px;
}

.col-md-6 {
    padding: 0px !important;
}

.padding-default {
    padding-bottom: calc(3.33vw + 0.048px) !important;
}

.pb-8 {
    padding-bottom: calc(0.55vw + 0.08px);
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 16px;
        line-height: 22.4px;
    }

    h5 {
        font-size: 16px;
        line-height: 29.4px;
    }

    h2 {
        font-size: 38px;
        line-height: 45.6px;
    }

    .des {
        font-size: 16px;
        line-height: 22.4px;
    }

    .mr-32 {
        margin-right: 0 !important;
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        padding: calc(15.53vw + 0.0164px) calc(3.88vw + 0.0144px);
    }

    .per32 {
        margin-left: 0px;
    }

    .pb-48 {
        padding-bottom: calc(7.76vw + 0.0288px);
    }

    .pt-80 {
        padding-top: calc(11.65vw + 0.002px);
    }

    .pic {
        width: 100%;
    }

    .pb-80 {
        padding-bottom: calc(11.65vw + 0.002px) !important;
        margin: 0px;
    }

    .menu {
        padding-left: calc(3.88vw + 0.0144px);
    }

    .ml-32 {
        margin-left: 0px;
    }

    .width-50 {
        width: 100%;
    }

    .soln {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #first {
        padding-bottom: calc(7.76vw + 0.0288px) !important;
    }

    .padding-default {
        padding-bottom: calc(7.76vw + 0.0288px) !important;
    }

    .padding-none {
        padding-bottom: 0px;
    }

    .section1 h2 {
        font-family: 'NimbusSanL';
        font-style: normal;
        font-weight: 400;
        font-size: 51px;
        line-height: 61px;
        display: flex;
        align-items: center;
        color: #121314;
    }
}