<div style="top: 90px;position: relative;">
    <div class="container-fluid section1 section slide-up-page">
        <h2 class="pb-48 text-blur-reveal" style="margin: 0px;">{{serviceData?.topic}}</h2>
        <div *ngFor="let desc of serviceData?.desc1; let i = index">
            <p align="left" style="text-align: left;" class="per32"
                [ngStyle]="{'padding-bottom': i !== (serviceData?.desc1.length - 1) ? '16px' : '0px'}">
                {{ desc }}
            </p>
        </div>
        <div class="pt-80 pb-8">
            <img [src]="serviceData?.image" alt="image" class="animate-image pic">
        </div>
    </div>
    <div class="section2 section" *ngIf="serviceName==='bioInfo'">
        <h2 class="pb-80">Solutions Offered</h2>
        <div class="soln">
            <div class="width-50 mr-32" id="first">
                <h5 style="margin: 0px;" class="pb-8">{{ serviceData.solutionsOffered[0]?.topic | uppercase }}
                </h5>
                <div *ngFor="let des of serviceData?.solutionsOffered[0].description">
                    <p class="des">{{ des }}</p>
                </div>
            </div>

            <div class="width-50">
                <div *ngFor="let sol of serviceData?.solutionsOffered.slice(1)" [ngClass]="{ 
                'padding-default': sol?.topic !== 'TRANSCRIPTOMICS', 
                'padding-none': sol?.topic === 'TRANSCRIPTOMICS' 
              }">
                    <h5 style="margin: 0px;" class="pb-8">{{ sol?.topic | uppercase }}</h5>
                    <div *ngFor="let des of sol?.description">
                        <p class="des">{{ des }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid section3 section" *ngIf="serviceName!=='bioInfo'">
        <h2 class="pb-80">Solutions Offered</h2>
        <div class="soln">
            <div *ngFor="let sol of serviceData?.solutionsOffered; let i = index" class="width-50" [ngClass]="{
              'mr-32': (i + 1) % 2 === 1 || (i + 1) === serviceData?.solutionsOffered.length,
              'mr-0': (i + 1) % 2 === 0 && (i + 1) !== serviceData?.solutionsOffered.length,
              'padding-none': (i + 1) === serviceData?.solutionsOffered.length,
              'padding-default': (i + 1) !== serviceData?.solutionsOffered.length
            }">
                <h5 style="padding-bottom: 8px;margin: 0px">{{sol?.topic | uppercase}}</h5>
                <div *ngFor="let des of sol.description">
                    <p class="des">{{des}}</p>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #FFFFFF;" class="section4 menu">
        <h2 class="pb-80">Other Services</h2>
        <app-service-menu [currentService]="serviceName" bgColor="background-color:white;"></app-service-menu>
    </div>

</div>