.section2,
.section3,
.section4,
.section5 {
    padding: calc(5.55vw + 0.08px) calc(3.33vw + 0.048px);
    width: 100%;
    box-sizing: border-box;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: calc(5.55vw + 0.08px) 11.25vw;
    min-height: 100vh !important;
    justify-content: center;
}

.pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.loader {
    padding-bottom: 20vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    background-color: #121314;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section1 {
    background-color: #FFFFFF;
}

.section1 p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'NimbusSanL';
    color: #747B80;
    margin-bottom: 0px;
    padding-bottom: calc(1.66vw + 0.096px);
}

.section3 p,
.section2 p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'NimbusSanL';
    color: #747B80;
    margin-bottom: 0px;
    padding-bottom: calc(1.11vw + 0.016px);
}

.section3 h2,
.section2 h2 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    color: #121314;
    padding-bottom: calc(2.77vw + 0.112px);
    margin-bottom: 0;
}

.section1 h3,
.section4 h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    font-family: 'NimbusSanL';
    color: #121314;
    margin: 0px;
}

.section4 {
    background-color: #FBFBFB;
}

.subsec31 h5 {
    font-family: 'NimbusSanL';
    padding-bottom: calc(2.77vw + 0.112px);
    padding-top: calc(2.77vw + 0.112px);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #FB4F23;
    margin: 0px;
}

.subsec31 h4 {
    font-family: 'NimbusSanL';
    padding-bottom: calc(0.55vw + 0.08px);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #121314;
    margin: 0px;
}

.subsec31 p,
.section4 p {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #747B80;
    padding-bottom: calc(1.11vw + 0.016px);
    margin: 0px;

}

.head {
    font-family: 'NimbusSanL';
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    color: #121314;
}

#sub {
    font-family: 'NimbusSanL';
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #747B80;
}

.pb-48 {
    padding-bottom: calc(3.33vw + 0.048px)
}

.pb-24 {
    padding-bottom: (1.66vw + 0px) !important;
}

.progress-container {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: calc(3.33vw + 0.048px);
    left: 0;
    overflow: hidden;
}

.loading-text {
    position: absolute;
    bottom: 0.048px;    
    left: 0;
    font-family: 'NimbusSanL';
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    color:#96F2E6;
}

.loading-text p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.loading-text:hover p {
    visibility: visible;
    opacity: 1;
}


.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(to top, #9FEFFF 0%, #7CF0FD 57.1%, #96F2E6 78.1%);
    border-radius: 5px;
    animation: progressLoop 4s infinite linear forwards;
    box-shadow: 0px -4px 12px rgba(23, 120, 141, 0.9);
}

@keyframes progressLoop {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


.videoText {
    padding-bottom: calc(3.33vw + 0.048px);
    padding-left: calc(3.33vw + 0.048px);
    padding-right: calc(3.33vw + 0.048px);
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 80px;
    position: absolute;
    margin: 0px;
    bottom: 0%;
    line-height: 80.7px;
    width: 100vw;
    max-height: 90%;
    overflow-y: scroll;
}

.section2,
.section5 {
    background: #FBFBFB;
}

@media only screen and (max-width: 767px) {

    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
        padding: calc(15.53vw + 0.0164px) calc(3.88vw + 0.0144px);
    }

    .section3 p,
    .section2 p,
    .section1 p {
        line-height: 16.8px;
        margin-bottom: 0px;
        padding-bottom: calc(2.91vw + 0.0108px);
    }

    .section3 h2,
    .section2 h2 {
        font-size: 38px;
        line-height: 45.6px;
        padding-bottom: calc(9.7vw + 0.036px);
    }

    .section1 h3,
    .section4 h3 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        font-size: 28px;
        line-height: 39.2px;
    }

    .subsec31 h5 {
        font-size: 28px;
        line-height: 39.2px;
        color: #FB4F23;
    }

    .subsec31 h4 {
        padding-bottom: calc(1.94vw + 0.0072px);
        font-size: 21px;
        line-height: 29.4px;
    }

    .subsec31 p,
    .section4 p {
        font-size: 16px;
        line-height: 22.4px;
        padding-bottom: calc(9.7vw + 0.036px);
    }

    .section2 h2,
    .section2 p {
        padding-right: 0px;
    }

    .pb-48 {
        padding-bottom: calc(3.88vw + 0.0144px) !important;
    }

    .videoText {
        font-style: normal;
        font-weight: 400;
        font-size: 51px;
        line-height: 61px;
    }
}