.mat-dialog-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: fit-content !important;

}

.form-wrapper {
  max-height: fit-content;
  overflow-y: auto;
  padding-right: 0px;
}
.mat-padding {
  padding: calc(5.55vw + 0.08px) calc(3.33vw + 0.048px) !important;
}

.form-group {
  margin-bottom: 1rem;
  padding-left: 0px;
}

.form-group div {
  margin-top: 5px;
  color: red;
}

.form-group input,
.form-group textarea {
  height: 40px;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 8px;
  height: 47px;
  border: 1px solid #BFC0C0;
  border-radius: 300px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  border: 1px solid #BFC0C0;
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  height: 110px !important
}

#cancelButton {
  display: flex;
  width: 161px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
  font-size: 21px;
  font-family: 'NimbusSanL';
  font-weight: 400;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 114px;
  height: 52px;
  background: #FBFBFB;
  color: #121314;
  border-radius: 200px;
  border: 2px solid #121314;
  flex: none;
  order: 3;
  flex-grow: 0;
  line-height: 29px;
}

.mr-8{
  margin-right: calc(0.55vw + 0.08px);
}

button {
  width: 161px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 21px;
  font-family: 'NimbusSanL';
  font-weight: 400;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 114px;
  height: 52px;
  background: #121314;
  color: #FBFBFB;
  border-radius: 200px;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: 0px;
  line-height: 29px;
}



button:disabled {
  background: #000000;
  border-radius: 200px;
  border: 0px;
}

button:hover {
  background: #000000;
  border-radius: 200px;
  border: 0px;
}

label {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #121314;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 61px;
  color: #121314;
  flex: none;
  order: 0;
  justify-content: start;
  flex-grow: 0;
}

.subTitle {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #121314;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 0px;
}

p {
  font-family: 'NimbusSanL';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #121314;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 16px;
}

.mb-16{
  margin-bottom: 16px;
}

.button-grp{
  position: relative;
  width: 45vw;
  align-self: center;
  margin-left: 0px;
}

.contact-row{
  display: flex;
  flex-direction: row;
}

.info{
  width: calc(42.22vw + 0.032px);
  margin-right: calc(5.55vw + 0.08px) !important;
}

.fields{
  width:  calc(45.59vw + 0.08px);
  overflow-x: hidden !important;
}

.contact-info{
  padding-top: calc(2.22vw + 0.032px);
}


@media only screen and (max-width: 767px) {

  .title{
    padding-bottom: calc(0.97vw + 0.0036px) !important;
    margin: 0px !important;
  }

  .mt-32{
    margin-top: 0px;
  }
  .mb-16{
    margin-bottom: 0px;
  }
  button{
    width: 48% !important;
    margin-top: calc(5.82vw + 0.0216px);
  }

  #cancelButton{
    width: 48% !important;
  }

  .subTitle {
    font-size: 16px;
  }

  textarea{
    height: 200px !important;
    padding-left: 10px;
  }

  .button-grp{
    width: calc(100vw - 2 * (4.80vw + 0.02px));
    justify-content: space-between;
    align-self: center;
  }
  .mr-8{
    margin-right: calc(1.94vw + 0.0072px);
  }
  
  .contact-row{
    display: flex;
    flex-direction: column;
  }

  .contact-info{
    padding-top: calc(11.65vw + 0.002px) !important;
    padding-bottom: calc(11.65vw + 0.002px) !important;
  }
  
  .info{
    width: calc(100vw - 2 * (3.88vw + 0.0144px));
    margin-right: 0px;
  }
  
  .fields{
    width: calc(100vw - 2 * (3.88vw + 0.0144px));
  }

  .mat-padding {
    padding: calc(11.65vw + 0.002px) calc(3.88vw + 0.0144px)!important ;
  }
  
}