.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    /* position: relative; */
  }

.marquee p{
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    /* position: absolute; */
    animation: marqueeAnimation 12s linear infinite;
  }

  @keyframes marqueeAnimation {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .p-80{
    padding: 80px 0px;
  }

  @media only screen and (max-width: 768px) {
    .p-80{
      padding: 64px 0px;
    }
  }

