.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    /* position: relative; */
  }

.marquee p{
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    /* position: absolute; */
    animation: marqueeAnimation 12s linear infinite;
  }

  @keyframes marqueeAnimation {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .p-80{
    padding: calc(5.55vw + 0.08px) 0px;
  }

  @media only screen and (max-width: 768px) {
    .p-80{
      padding: calc(15.53vw + 0.0164px) 0px;
    }
  }

