.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
}

.nav-pad{
    padding: calc(1.11vw + 0.016px) calc(3.33vw + 0.048px) ;
}

.nav-bar{
    background: #FFFFFF05;
}

.nav-bar .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-bar .navbar-light .navbar-toggler {
    border: 0px;
}

.nav-bar .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-bar-black .navbar-light .navbar-toggler {
    border: 0px;
}

.nav-bar-black .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-bar-black .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5); 
}



.navbar {
    justify-content: flex-end;
    box-shadow: none !important;
    border-bottom: none !important;
    
}

.navbar-nav {
    align-items: center;
}


.dropdown-menu-custom {
    position: absolute;
    top: 60px;
    z-index: 1000;
}

.icon-container {
    background: white;
    color: rgb(251, 79, 35);
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 3px;
}

.nav-bar-black {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: calc(1.11vw + 0.016px);
    width: 100vw;
    left: 0px;
    top: 0px;
    height: calc(6.11vw + 0.016px);
    left: 0px;
    top: 0px;
    z-index: 999;
}


.nav-bar {
    box-sizing: border-box;
    align-items: center;
    gap: 16px;
    position: absolute;
    width: 100vw;
    height: calc(6.11vw + 0.016px);
    left: 0px;
    top: 0px;
    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 999;
}

.nav-bar ul li a {
    font-family: 'NimbusSanL';
    font-style: normal;
    color: #BFC0C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    justify-content: start;
    cursor: pointer;
}

.nav-bar-black ul li a {
    font-family: 'NimbusSanL';
    font-style: normal;
    color: #747B80;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    justify-content: start;
    cursor: pointer;
}


.nav-bar h6 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #747B80;
}

.nav-bar-black h6 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #747B80;
}



.btn-contact-black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 16px 24px;
    gap: 10px;
    width: 165px;
    height: 52px;
    background: #121314;
    border-radius: 200px;
    color: #FBFBFB;
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.navbar{
    backdrop-filter: blur(10.2px);
}

.btn-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 161px;
    height: 52px;
    background: #FBFBFB;
    border-radius: 200px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.btn-contact span {
    width: 113px;
    height: 15px;
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #121314;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-bar-black .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 999;
    background-color: #FBFBFB;
    backdrop-filter: blur(10.2px);
}

.nav-bar .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}


.btn-contact-black span {
    width: 113px;
    height: 15px;
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.serviceNavBar-black {
    box-sizing: border-box;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(2.22vw + 0.032px) calc(3.33vw + 0.048px);
    gap: calc(1.11vw + 0.016px);
    flex-wrap: wrap;
    height: 13vw;
    row-gap: calc(1.66vw + 0.096px);
    left: 0px;
    top: 90px;
    width: 100vw;
    position: absolute;
    z-index: 999;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10.2px);
    color: #747B80;
}


.companyNavBar-black {
    box-sizing: border-box;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(2.22vw + 0.032px) calc(3.33vw + 0.048px);
    gap: calc(1.11vw + 0.016px);
    flex-wrap: wrap;
    left: 0px;
    top: 88px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10.2px);
    color: #747B80;
    z-index: 9999 !important;
    position: absolute;
}



.serviceItems-black {
    justify-content: space-between;
    vertical-align: middle;
    align-items: middle;
    box-sizing: border-box;
    text-align: left;
    width: 32%;
    height: 35%;
}

.serviceItems-black h4 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: left;
    text-align: left;
    text-transform: uppercase;
}

.nav-bar .navbar-light .navbar-nav .nav-link.active {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FBFBFB;
}

.nav-bar .navbar-light .navbar-nav .nav-link:hover {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FBFBFB;
}


.serviceNavBar {
    box-sizing: border-box;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(2.22vw + 0.032px) calc(3.33vw + 0.048px);
    gap: calc(1.11vw + 0.016px);
    flex-wrap: wrap;
    height: 13vw;
    row-gap: calc(1.66vw + 0.096px);
    left: 0px;
    top: 90px;
    width: 100vw;
    backdrop-filter: blur(10.2px);
    box-shadow: none !important;
    border-bottom: none !important;
}


.logo-size{
    width:90px;
    height:52px
}

.logo-size1{
    width:52px;
    height:52px
}

.companyNavBar {
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: calc(2.22vw + 0.032px) calc(3.33vw + 0.048px);
    gap: calc(1.11vw + 0.016px);
    flex-wrap: wrap;
    left: 0px;
    top: 90px;
    width: 100vw;
    backdrop-filter: blur(10.2px);
    z-index: 9999;  
}

.serviceItems {
    justify-content: space-between;
    vertical-align: middle;
    align-items: middle;
    box-sizing: border-box;
    text-align: left;
    width: 32%;
    height: 35%;
}

.serviceItems h4 {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: left;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mr-16{
    margin-right: 16px;
}

.nav-bar-black .navbar-light .navbar-nav .nav-link.active {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.07) !important;
    backdrop-filter: blur(10.2px);
    color: #121314;
}

.nav-bar-black .navbar-light .navbar-nav .nav-link:hover {
    font-family: 'NimbusSanL';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #121314;
}


.mobile-nav {
    display: none;
}

.mr-18{
    margin-right: 18px;
}

.dropdown-icon{
    width: 13px;
    height: 7px;
}
.mt-48{
    margin-top: 0px !important;
}

@media only screen and (max-width: 1006px) {
    .serviceNavBar {
        height: 19vw;
        row-gap: 24px;
    }
    .serviceNavBar-black {
        height: 19vw;
        row-gap: 24px;
    }
}

@media only screen and (max-width: 767px) {

    .mobile-nav {
        display: block;
        list-style: none;
        padding-left: 0px;
        width: calc(100vw - 2 * (3.88vw + 0.0144px));
    }

   
    .navbar{
        width: 100vw;
        justify-content: space-between !important;
    }

    .logo-size1{
        width:calc(7.76vw + 0.0288px);
        height:calc(7.76vw + 0.0288px);
    }

    .logo-size{
        width:calc(17.47vw + 0.0236px);
        height:calc(10.08vw + 0.0104px);;
    }

    h6 {
        text-align: start;
    }

    .serviceNavBar {
        display: none;
    }

    .serviceNavBar-black {
        display: none;
    }

    .navbar-nav {
        align-items: self-start;
    }


    .nav-bar ul li a {
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        width: calc(100vw - 2 * (3.88vw + 0.0144px));
        justify-content: space-between;

    }

    .nav-bar-black ul li a {
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        width: calc(100vw - 2 * (3.88vw + 0.0144px));
        justify-content: space-between;     
    }

    .nav-bar .navbar-light .navbar-nav .nav-link.active {
        font-size: 21px;
    }
    .nav-bar .navbar-light .navbar-nav .nav-link:hover {
        font-size: 21px;
    }
    .nav-bar-black .navbar-light .navbar-nav .nav-link.active {
        font-size: 21px;
    }
    .nav-bar-black .navbar-light .navbar-nav .nav-link:hover {
        font-size: 21px;
    }
    .mr-16{
        margin-right: 0px;
    }

    .mr-18{
        margin-right: 0px;
    }

    .pt-48{
        padding-top: calc(11.65vw + 0.002px);
    }

    .px-21{
        padding-top: calc(4.97vw + 0.0236px);
        padding-bottom: calc(4.97vw + 0.0236px);;
    }

    .px-19{
        padding-top: calc(4.49vw + 0.0012px);
        padding-bottom: calc(4.49vw + 0.0012px);  
    }

    .dropdown-icon{
        width: 23px;
        height: 13px;
    }

    .mt-48{
        margin-top: calc(11.65vw + 0.002px) !important;
    }
    .mb-8{
        margin-bottom: calc(1.94vw + 0.0072px);
    }
    .companyNavBar{
        display: none !important;
    }
    .companyNavBar-black{
        display: none !important;
    }

    .nav-pad{
        padding: calc(3.88vw + 0.0144px);
    }
    .nav-bar-black {
        padding: 0px;
    }
}