/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'NimbusSanL';
  src: url('assets/fonts/NimbusSanL-RegIta.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('assets/fonts/NimbusSanL-Bol.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('assets/fonts/NimbusSanL-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('assets/fonts/NimbusSanL-BolIta.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NimbusSanLB';
  src: url('assets/fonts/NimbusSanL-Bol.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

/* Apply the font globally */
body {
  margin: 0;
  font-family: 'NimbusSanL', sans-serif;
  scroll-behavior: smooth;
}

::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1000 !important;
}


.custom-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  height: auto;
  max-height: fit-content !important;
}

.custom-dialog {
  background: transparent !important;
  animation: slideUp 0.3s ease-out;
  max-height: fit-content;
}

/* @keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

::ng-deep .mat-dialog-container {
  border-radius: 0 !important;
}

.mat-mdc-dialog-surface {
  border-radius: 0px !important;
}

/* Font Sizes Begin*/
.fsr-51 {
  font-family: 'NimbusSanL' !important;
  font-size: 51px !important;
}

.fsr-21 {
  font-family: 'NimbusSanL' !important;
  font-size: 21px !important;
}

.fsb-16 {
  font-family: 'NimbusSanLB' !important;
  font-size: 16px !important;
  font-weight: 400;
}

.fsb-21 {
  font-family: 'NimbusSanLB' !important;
  font-size: 21px !important;
  font-weight: 400;
}

.fsr-16 {
  font-family: 'NimbusSanL' !important;
  font-size: 16px !important;
}

.fsr-12 {
  font-family: 'NimbusSanL' !important;
  font-size: 12px !important;
}

.fsr-28 {
  font-family: 'NimbusSanL' !important;
  font-size: 28px !important;
}

.fsr-67 {
  font-family: 'NimbusSanL' !important;
  font-size: 67px !important;
}

.fsb-120 {
  font-family: 'NimbusSanLB' !important;
  font-size: 120px !important;
  font-weight: 400;
}


.p-48 {
  padding-left: calc(3.33vw + 0.048px);
  padding-right: calc(3.33vw + 0.048px);;
}

.p-80 {
  padding-top: calc(5.55vw + 0.08px);
  padding-bottom: calc(5.55vw + 0.08px);
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: calc(5.55vw + 0.08px) !important;
}

.mt-48 {
  margin-top: calc(3.33vw + 0.048px) !important;
}

/* Margin End */

/* Color Begin*/
.color-grey {
  color: #BFC0C0!important;
}

.color-blue {
  color: #3892FA!important;
}

.color-lightgrey {
  color: #747B80!important;
}

.color-lightwhite {
  color: #fbfbfb!important;
}

.bg-lightwhite {
  background-color: #fbfbfb !important;
}

/* Color End */

/* Line Height Begin */
.lh-29 {
  line-height: 29px !important;
}

.lh-22{
  line-height:22.4px !important;
}

.lh-80{
  line-height: 80.4px !important;
}

.lh-61{
  line-height: 61.2px !important;
}



/* Line Height Ends */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NimbusSanRegular', sans-serif !important;
}

.no-underline {
  text-decoration: none;
}

.image-view {
  width: 100%;
  height: 50%;
}

.btn-responsive {
  width: auto;
}

.multi-line {
  white-space: pre-wrap;
  /* Preserves new lines, allows wrapping */
  word-wrap: break-word;
  /* Ensures long words break */
  overflow-wrap: break-word;
  /* Alternative to break long words */
  max-width: 100%;
}

/* Link transition Begins */

.link-text {
  text-decoration: none!important;
  background-image: linear-gradient(black, black);
  background-size: 0% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  color: #121314 !important;
}

.card-link-hover:hover .link-text {
  background-size: 100% 1px;
}

.fade-effect {
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.fade-effect:hover {
  transform: scale(1.01);
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); */
}

.fit-content{
  width: fit-content!important;
}

a {
  text-underline-offset: 3px!important; /* Moves the underline 1px away from the text */
}

/* Animations */

@keyframes appear {
  from {
      opacity: 0;
      clip-path: inset(100% 0% 0% 0%);
  }
  to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
  }
}

.wipe-up {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appeartext {
  from {
      opacity: 0;
      clip-path: inset(100% 0% 0% 0%);
  }
  to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
  }
}

.wipe-up-text {
  opacity: 0;
  animation: appeartext 1s ease-out forwards;
}

@keyframes slideup {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.slide-up{
  animation: slideup linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-up-page {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUpPage 1s ease-out forwards;
}

/* Slide-up animation */
@keyframes slideUpPage {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes blurReveal {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.text-blur-reveal {
  opacity: 0;
  animation: blurReveal 1.5s ease-in-out forwards;
}

.animate-image{
    transition: transform 0.5s ease-in-out;
}
/* Animation Ends */


@media only screen and (max-width: 767px) {
  .btn-responsive {
    width: 100%;
  }

  .p-80 {
    padding-top: calc(15.53vw + 0.0164px) !important;
    padding-bottom: calc(15.53vw + 0.0164px) !important;
  }

  .p-48 {
    padding-left: calc(3.88vw + 0.0144px) !important;
    padding-right: calc(3.88vw + 0.0144px) !important;
  }

  .fsr-21 {
    font-size: 16px !important;
  }

  .fsr-51 {
    font-size: 38px !important;
  }

  .fsr-67 {
    font-size: 51px !important;
  }

  .fsb-120 {
    font-size: 67px !important;
  }

  .lh-29 {
    line-height: 22.4px !important;
  }
  
  .lh-22{
    line-height:16.8px !important;
  }

  .lh-80{
    line-height: 61.2px !important;
  }
  
  .lh-61{
    line-height: 45.6px !important;
  }
  
  .fsb-16{
    font-size: 12px !important;
  }

}