<div class="slide-up-page" appScrolleffects style="position: relative;top: 90px;">
    <div class="p-48 p-80 section1 section">
        <p class="fsr-67 w-75 lh-80">We Revolutionize Research Through Data-Driven Innovation</p>
        <div class="row mt-48">
            <div class="col-md-4 col-12"></div>
            <div class="col-md-8 col-12">
                <p class="fsr-21 lh-29">
                    At DNA2Discovery, we collaborate with researchers and academic institutions to propel life sciences
                    forward with
                    innovative bioinformatics solutions, accelerating discoveries and driving scientific breakthroughs.
                </p>
                <button class="btn btn-outline-dark rounded-pill btn-responsive fsr-21 my-4 py-3 px-4" (click)="openContactUs()">Get in
                    Touch</button>
            </div>
        </div>
        <img src="assets/images/team.png" alt="team" class="image-view mt-80">
    </div>
    <div class="p-48 p-80 section2 section bg-lightwhite">
        <div class="text-right my-3">
            <p class="color-lightgrey fsb-16 lh-22">Vision and Mission</p>
            <p class="fsr-51 lh-61">Igniting Innovation to Create Lasting Impact</p>
        </div>
        <div class="mt-80">

            <div class="row my-3">
                <h2 class="col-md-4 text-uppercase fsb-21 lh-29">Vision</h2>
                <pre class="col-md-8 col-12 multi-line fsr-21 lh-29">Our vision is to lead the way in bioinformatics, shaping the future of life sciences through unparalleled expertise in data analysis, technology, and innovation.
                
We strive to be the trusted partner for researchers and institutions dedicated to deciphering complex biological data and advancing their groundbreaking discoveries.
                
By advancing bioinformatics methodologies and technologies, we aim to drive transformative breakthroughs that deepen biological understanding and enhance human health.
            </pre>
            </div>
            <div class="row my-3">
                <h2 class="col-md-4 text-uppercase fsb-21 lh-29">Mission</h2>
                <pre class="col-md-8 col-12 multi-line fsr-21 lh-29">We are dedicated to advancing the accuracy, efficiency, and depth of research through a range of customized services, including bioinformatics training, custom pipeline development, advanced sequencing analysis, statistical testing, data visualization, epigenetics analysis, and cloud tool deployment.
                
We address a wide spectrum of genetic research across diverse biological systems, driving innovative solutions to advance our understanding of health, disease, and ecosystems.
            </pre>
            </div>
        </div>
        <section class="mt-80 mb-80 lh-61">
            <div>
                <section class="text-secondary fsb-16 p-0 lh-22">Our Team</section>
                <section class="fsr-51">About our Expertise</section>
            </div>
            <div class="row mt-48">
                <div class="col-md-4 col-12"></div>
                <div class="col-md-8 col-12">
                    <p class="fsr-21 lh-29">We are a team of passionate bioinformaticians and data scientists and we are
                        dedicated to providing innovative solutions in life science research. Our expertise spans a wide
                        range of bioinformatics services, including genomic sequencing, and computational modeling, all
                        designed to unlock the potential hidden within complex biological data.</p>
                </div>
            </div>
            <!-- <div class="row aboutus-gallery mt-80">
           <div class="col-md-4 col-8" *ngFor="let about of aboutData">
                <img [src]="about.image" [alt]="about.name" class="w-100">
                <p class="fsr-28 mt-3 mb-0">{{about.name}}</p>
                <p class="fsr-16 color-lightgrey">{{about.role}}</p>
           </div>
        </div> -->
        </section>
    </div>
</div>